@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header{
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    color: white;
    overflow: hidden;
    max-width: 1920px;
}

header > * {
    position: absolute;
}

.welcome{
    /* margin: 0 auto; */
    /* width: 80%;
    text-align: center; */
    z-index: 1;
    top: 10%;
    left: 5%;
    right: 5% ;
    font-family: "Saira Condensed";
    text-align: center;
}

.welcome p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.welcome h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.welcome h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

header img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50vh;
}
.welcome button{
    font-size: 12px;
    line-height: 32px;
    font-weight: 300;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 0px 20px;
    margin-top: 10%;
    font-family: 'Saira';
}

@media (min-width: 1024px) {
    header button:hover {
        cursor: pointer;
        background-color:#fff;
        color: #111;
    }
}

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: 0;
    }
    header div.welcome {
        top: 15%;
        left: 5%;
        right: 50%;
    }
    header div.welcome button{
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header div.welcome h1 {
        font-size: 28px;
    }
    header div.welcome h2 {
        font-size: 28px;
    }

    header div.welcome button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
    header div.welcome {
        left: 5%;
    }
header div.welcome p {
    font-size: 56px;
}
header div.welcome h1 {
    font-size: 34px;
}
header div.welcome h2 {
    font-size: 34px;
}
header div.welcome button {
    font-size: 28px;
    line-height: 70px;
    margin-top: 80px;
}

header img{
    right: -22%;
    height: 95%;
}


}

@media (orientation: landscape) and (min-width: 1280px){
    header div.welcome {
        left: 10%;
    text-align: left;
    
    }
header div.welcome p {
    font-size: 100px;
    text-align: left;

}
header div.welcome h1 {
    font-size: 50px;
    margin-top: 40px;
    text-align: left;

}
header div.welcome h2 {
    font-size: 50px;
    text-align: left;

}
header div.welcome button {
    margin-top: 100px;
    font-size: 38px;
    line-height: 80px;
    
}

header img{
    right: -22%;
    height: 95%;
}


}

@media (orientation: landscape) and (min-width: 1600px){
    header div.welcome {
        left: 10%;
    text-align: left;
    
    }
header div.welcome p {
    font-size: 120px;
    text-align: left;

}
header div.welcome h1 {
    font-size: 60px;
    margin-top: 40px;
    text-align: left;

}
header div.welcome h2 {
    font-size: 60px;
    text-align: left;

}
header div.welcome button {
    margin-top: 100px;
    font-size: 38px;
    line-height: 90px;
    padding: 0 70px;
    
}

header img{
    right: -22%;
    height: 95%;
}


}



@media (orientation: portrait) and (min-width: 360px)
{
header div.welcome h1{
    font-size: 34px;
}
header div.welcome h2{
    font-size: 24px;
}
header div.welcome button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
}
header  img{
    right: -20%;
}
}

@media (orientation: portrait) and (min-width: 411px)
{
    header div.welcome p{
        font-size: 54px;
    }
header div.welcome h1{
    font-size: 24px;
}
header div.welcome h2{
    font-size: 24px;
}
header div.welcome button {
    margin-top: 34px;
    line-height: 44px;
    font-size: 24px;
}
header  img{
    right: -20%;
}
}


/* SEKCJA 1 NASZE CECHY */

/* .features * {
   position: absolute;
} */

.features {
    text-align: center;
    margin: 40px auto;
    padding: 5%;
    max-width: 1600px;
}

.feature {
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features img{
    width: 100%;
    max-width: 375px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
}

.features p {
    font-family:  'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 20px 0;
}

@media (min-width: 360px) {
    .features p{
    font-size: 14px;
    }
}


@media (min-width: 768px) {
    .features h1{
        font-size: 44px;
    }
    .features h2 {
        font-size: 34px;
    }
    .features p{
    font-size: 24px;
    }
}

@media (min-width: 1024px) {

    .features {
        text-align: center;
        margin-top: 50px;
        padding: 5% 2%;
    }

    .feature {
        float: left;
        width: 33%;
        padding: 10px;
    }
    .features h1{
        font-size: 44px;
    }
    .features h2 {
        font-size: 24px;
    }
    .features p{
    font-size: 16px;
    padding: 0 10px;
    }

}


@media (min-width: 1600px) {

    .features {
        

    }

    .feature {
        float: left;
        width: 33%;
        padding: 60px;
    }
    .features h1{
        font-size: 44px;
    }
    .features h2 {
        font-size: 24px;
    }
    .features p{
    font-size: 16px;
    padding: 0 10px;
    }

}